.inline-wrapper {
  display: flex;
  gap: 0.7em;
  align-items: center;
}

.tl3-progress-bar {
  position: relative;
  height: 1em;
  width: 20em;
  border-radius: 1em;
}

.tl3-progress-bar-meter {
  height: 1em;
  border-radius: 1em;
}

.tl3-progress-gauge-wrapper {
  width: fit-content;
  position: relative;
}

.tl3-progress-gauge-progress-text {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  text-align: center;
}

.segmented-bars {
  display: flex;
  gap: 0.2em;
  height: 1em;
}

.segmented-bar {
  width: 5em;
  height: 0.5em;
  border-radius: 1em;
}

.segmented-bar-fill {
  height: 0.5em;
  border-radius: 1em;
}
